<app-header></app-header>
<div class="prize-main">

  <div class="heading">
    <h1 style="color: red;">PRIZES</h1>
    <h1 style="color: springgreen;">INR 15,00,000*</h1>
    <h3>IN CASH PRIZES PLUS A CHANCE TO WORK WITH ONE OF THE LARGEST IT COMPANIES IN THE WORLD!
    </h3>

    <div class="row" style="width: 100%" id="logos">
      <div class="col-md-6" style="align-items: center">

        <img src="../../assets/images/icon20.png" alt="bulb" />
        <div>
          <h4>UNIQUE OPPORTUNITIES</h4>
          <h5>Tech Challenge is hosted by Capgemini. Apart from showcasing your talent on a national stage and
            competing with some of the brightest coding talent from across the country, you will also get an exposure
            to learn from the best technology experts in the industry. Let's not forget the cash prizes and all the fun
            that are part of the deal.</h5>

        </div>
      </div>

      <div class="col-md-6" style="align-items: center">

        <img src="../../assets/images/icon21.png" alt="bulb" />
        <div>
          <h4>WHAT’S IN IT FOR YOU?</h4>
          <h5>This is your time to shine, be recognized and prove your tech mettle. If you succeed you could take home
            15 lacs* worth of cash prizes plus a chance to land your dream job!* Take a shot; you have so much to win
            and nothing to lose.</h5>

        </div>
      </div>
    </div>

    <div>
      <div style="height:3px; background-color: red; width: 100%;"></div>
    </div>
    <div class="row" style="width: 100%" id="logos">
      <div class="col-md-6" style="align-items: center">

        <img src="../../assets/images/icon22.png" alt="bulb" />
        <div>
          <h4>WINNER</h4>
          <h5>Cash Prize worth Rs. 30, 000/-</h5>
          <h4>RUNNER UP</h4>
          <h5>Cash Prize worth Rs. 20,000/-</h5>
          <h6>(For each of the 12 contests)</h6>
        </div>
      </div>
      <div class="col-md-6" style="align-items: center">

        <img src="../../assets/images/icon23.png" alt="bulb" />
        <div>
          <h4>EARLY BIRD WINNERS</h4>
          <h6>(1st 10 players to complete Level 2)</h6>
          <h5>Voucher of Rs. 500/- for each of the above contests.</h5>

        </div>
      </div>
    </div>
    <div>
      <div style="height:3px; background-color: red; width: 100%;"></div>
    </div>

    <div class="row" style="width: 100%" id="logos">
      <div class="col-md-6" style="align-items: center">

        <img src="../../assets/images/icon24.png" alt="bulb" />
        <div>
          <h4>WIN CERTIFICATES AND
            DIRECT L2 INTERVIEW*</h4>
          <h5>*(Not applicable for Tech Aptitude, Coding)</h5>

        </div>
      </div>
      <div class="col-md-6" style="align-items: center">

        <img src="../../assets/images/icon25.png" alt="bulb" />
        <div>
          <h4>FINAL CHALLENGE
            WIN INR 300,000</h4>
          <h5>Top Finalists in each of the skills* will form teams at the Finale and compete for the Finale Challenge
            and an opportunity to win the best team prize of INR 300,000/-</h5>

        </div>
      </div>
    </div>


  </div>
  <div class="campus">
    <h2> CAMPUS PRIZES</h2>
    <div id="campusp">

      <p> <b>Top Campus Coders</b>– Top 2 will be chosen by the system automatically based on various parameters such
        as time,
        server calls, and attempts and score. – First – INR 50,000, Second – INR 30,000</p>


      <p> <b>Fastest Finger</b>– First student from Campus to score 60 percent in both levels of Coding contest – INR
        30,000</p>

      <p> <b>Top 5 Language Coders</b> – Top 5 toppers in each of the different coding languages. Example- C, C++,
        Java, Python,
        C# - INR 10,000 x 5 = INR 50,000</p>


      <p> <b>Zone wise winners</b> – Zone-wise winners - Winners will be selected for each of the zones i.e. East,
        West, North,
        South. These will be based on states where colleges are present and are included in the TechGig as well. Prizes
        as per: INR 10,000 x 4 = INR 40,000</p>


      <p> <b> Blitz Coder</b> - Student who crossed both levels in First Attempt –INR 25,000</p>


      <p> <b>Social Coder</b> – Coders active on Social Networks – 5 students who share the most on social networks to
        win INR
        5000 each i.e. a total prize money of INR 25,000</p>



      <p>Five wildcard entries chosen from campuses will get direct entry to the Grand Finale of the Tech Challenge
        2018
        at Capgemini Pune Hinjewadi campus to work with industry professionals and other finalists for the Finale Team
        challenge.</p>

      <p> Top five campus HoDs/TPOs who are able to drive the maximum college participation will be awarded trophies.</p>
    </div>
  </div>
  <div>

      <button routerLink="/login" class="btn-hover color-1" id="cb">CHALLENGE ACCEPTED?</button>

  </div>
</div>