@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);

.footer1 {
    background: black;
    padding-top: 40px;
    padding-right: 0;
  /*  padding-bottom: 20px;
  */  padding-left: 0;
}

.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

@media(max-width:700px) {
    .my-menu .pull-right {
        float: none !important;
    }
}

/* split the list*/
.contest {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}


.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.footerp p {
    font-family: Arial, Helvetica, sans-serif;
}


#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* 
Only Needed in Multi-Coloured Variation 
                                       */
.social-fb:hover {
    color: blue;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: red;
}

.social-em:hover {
    color: #f39c12;
}

.social-ln:hover {
    color: blue;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

.inner-footer {
    background-color: purple;
    min-height: 40px;
    width: 100%;
    border-top: solid 1px #1a1a1a;
    padding: 15px;
}

.inner-footer p {
    opacity: 1;
}


.inner-footer p.bold-text {
    margin: 0px;
    opacity: 0.7;
    font-size: 15px;
    color: #fff;
}

.inner-footer p.footer-text {
    margin: 0px;
    opacity: 0.7;
    font-size: 10px;
    color: #fff;
    margin-left: 90px;
}

.inner-footer p.footer-logo {
    margin-top: -5px;
    opacity: 0.7;
    margin-left: 250px;
}

.footer-main{
position: absolute;
top: 100vmax;
width: 100vw;


}
/* #footer {
    background: #0a0a0a;
    position: relative;
    z-index: 100;
    padding-top: 50px;
}

#footer .container {
    position: relative;
}

#footer p {
    height: 20%;
}
*/
.title-median {
    color: #636363;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

