<div class="footer-main">
    <footer class="footer1">
      <div class="container">
    
        <div class="row">
          <!-- row -->
    
          <div class="col-lg-3 col-md-3">
            <!-- widgets column left -->
            <ul class="list-unstyled clear-margins">
              <!-- widgets -->
    
              <li class="widget-container widget_nav_menu">
                <!-- widgets list -->
    
                <h1 class="title-widget">Contest</h1>
    
                <ul class="contest">
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/coding"><i class="fa fa-angle-double-right"></i>
                      Coding</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/adobe-aem"><i class="fa fa-angle-double-right"></i>
                      Adobe AEM</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/hybris"><i class="fa fa-angle-double-right"></i>
                      Hybris</a></li>
    
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/salesforce"><i class="fa fa-angle-double-right"></i>
                      Salesforce</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/azure"><i class="fa fa-angle-double-right"></i>
                      Azure</a></li>
    
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/data-science"><i class="fa fa-angle-double-right"></i>
                      Data Science</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/cloud-native"><i class="fa fa-angle-double-right"></i>
                      Cloud Native</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/sailpoint"><i class="fa fa-angle-double-right"></i>
                      SailPoint</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/ping-identity"><i class="fa fa-angle-double-right"></i>
                      PING Identity</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/full-stack"><i class="fa fa-angle-double-right"></i>
                      Full Stack</a></li>
    
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/tech-aptitude"><i class="fa fa-angle-double-right"></i>
                      Tech Aptitude</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/embedded-systems"><i class="fa fa-angle-double-right"></i>
                      Embedded Systems</a></li>
                </ul>
    
    
              </li>
    
            </ul>
    
    
          </div><!-- widgets column left end -->
    
    
    
          <div class="col-lg-3 col-md-3">
            <!-- widgets column left -->
    
            <ul class="list-unstyled clear-margins">
              <!-- widgets -->
    
              <li class="widget-container widget_nav_menu">
                <!-- widgets list -->
    
                <h1 class="title-widget">About Capgemini India</h1>
    
                <ul>
                  <li><a href="https://www.in.capgemini.com/"><i class="fa fa-angle-double-right"></i>
                      About Capgemini India</a></li>
                  <li><a href="https://www.capgemini.com/in-en/events/explore-opportunities-at-capgemini-india/"><i class="fa fa-angle-double-right"></i>
                      Jobs at Capgemini India</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/register"><i class="fa fa-angle-double-right"></i>Register</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/prizes"><i class="fa fa-angle-double-right"></i>
                      Prizes</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/referral-leaderboard"><i class="fa fa-angle-double-right"></i>
                      Referral Leaderboard</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/referral-terms-conditions"><i class="fa fa-angle-double-right"></i>
                      Referral Conditions</a></li>
    
                </ul>
              </li>
    
            </ul>
    
    
          </div><!-- widgets column left end -->
    
    
    
          <div class="col-lg-3 col-md-3">
            <!-- widgets column left -->
    
            <ul class="list-unstyled clear-margins">
              <!-- widgets -->
    
              <li class="widget-container widget_nav_menu">
                <!-- widgets list -->
    
                <h1 class="title-widget">Privacy Policy</h1>
    
                <ul>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/privacy"><i class="fa fa-angle-double-right"></i>
                      Privacy Policy</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/social-media-guidelines"><i class="fa fa-angle-double-right"></i>
                      Social Media Guidelines</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/contest-terms-and-conditions"><i class="fa fa-angle-double-right"></i>Contest
                      Terms and Conditions</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/finale"><i class="fa fa-angle-double-right"></i>
                      Finale</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/winners"><i class="fa fa-angle-double-right"></i>
                      Winners</a></li>
                  <li><a href="https://techchallenge.in.capgemini.com/techchallenge/invites"><i class="fa fa-angle-double-right"></i>
                      Refer Now</a></li>
    
                </ul>
    
              </li>
    
            </ul>
    
    
          </div><!-- widgets column left end -->
    
    
          <div class="col-lg-3 col-md-3">
            <!-- widgets column center -->
    
    
    
            <ul class="list-unstyled clear-margins">
              <!-- widgets -->
    
              <li class="widget-container widget_recent_news">
                <!-- widgets list -->
    
                <h1 class="title-widget">Contact Detail </h1>
    
                <div class="footerp">
    
                  <h2 class="title-median">Capgemini India Pvt. Ltd.</h2>
                  <p><b>Email id:</b> <a href="mailto:cgcompanysecretary.in@capgemini.com">cgcompanysecretary.in@capgemini.com</a></p>
                </div>
    
                <div class="social-icons">
    
                  <ul class="nomargin">
    
                    <a href="https://www.facebook.com/public/Capgemini"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                    <a href="https://twitter.com/Capgemini"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                    <a href="https://plus.google.com/+CapgeminiGlobal"><i class="fa fa-google-plus-square fa-3x social-gp"
                        id="social"></i></a>
                    <a href="mailto:cgcompanysecretary.in@capgemini.com"><i class="fa fa-envelope-square fa-3x social-em"
                        id="social"></i></a>
                    <a href="https://in.linkedin.com/company/capgemini"><i class="fa fa-linkedin-square fa-3x social-ln" id="social"></i></a>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Inner Footer -->
    <div class="inner-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p class="bold-text">Powered by -
              <a href="http://www.techgig.com" target="_blank" alt="Techgig"><img src="https://techchallenge.in.capgemini.com/Themes/Release/images/capgemini2016_images/techgig-logo.png"
                  alt="logo" /></a> </p>
          </div>
          <div class="col-sm-4 text-center">
            <p class="footer-text">© 2019 Capgemini. All rights reserved.</p>
          </div>
          <div class="col-sm-4 text-right">
            <p class="footer-logo"><a href="http://www.capgemini.com" target="_blak"><img src="https://techchallenge.in.capgemini.com/Themes/Release/images/capgemini2016_images/footer-logo1.png"
                  alt="logo" /></a></p>
          </div>
        </div>
      </div>
    </div>
  
  </div>