<app-header></app-header>
<app-floater-menu></app-floater-menu>
<div class="tc">
    <div class="row justify-content-center" id="info">
        <h3>ABOUT THE CONTEST:</h3>
        <div>
            <p>After four successful years, Tech Challenge is back with the 2018 edition. It's time for
                tech enthusiasts to roll up their sleeves, compete with the best in the industry and bring
                their A game to be crowned as a tech mogul.
                Tech Challenge 2018 edition is a unique gamified application for tech enthusiasts and
                students to deliver their best on stand-alone web applications. The challenge is designed
                to identify the best programmers in campus and working professionals across the industry.</p>
        </div>
        <div>
            <p>Real challenges. Real Solution. Real Impact.
            </p>
        </div>
        <div>
            <p>The winners of the previous edition of Tech Challenge created 'ReUnite' - a mobile
                application which helps parents find missing children. Similar to the previous edition, the
                last round of this year’s Tech Challenge will also entail creating a mobile application to
                solve a real problem which will impact the lives of millions.</p>
        </div>
        <div>
            <p>There are different contests that the users can participate in:</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>CONTEST TERMS AND CONDITIONS</h4>
                <ul class="timeline">

                    <li>
                        <h3>1) CODING CONTEST:</h3>
                        <ul>
                            <li>
                                <p>Languages Accepted: Users can solve the challenge by writing a code in any of the
                                    available programming languages depending on which skill you are attempting. The
                                    contest will also contain multiple-choice questions (MCQs).</p>
                            </li>
                            <li>
                                <p>Levels in Coding Contest: There will be 3 levels for the coding contest. The first
                                    two
                                    levels will be launched simultaneously. The final level (3rd) will be a non-premise
                                    event launched at a specific date and time. Top 5 coders from the Leaderboard will
                                    travel to the Capgemini Mumbai campus to participate in the Finale. Coding problem
                                    &
                                    MCQs will be timed.The time taken per level will be used to calculate your position
                                    on
                                    the Leaderboard.</p>
                            </li>
                            <li>
                                <p>Here are the rules for the Coding contest:</p>
                            </li>
                            <li>
                                <p>Level - 1: MCQ</p>
                                <ul>
                                    <li>There will be 25 MCQs in Level - 1</li>
                                    <li>Correct answers for each MCQ will give you 4 points</li>
                                    <li>Maximum time allotted for 25 MCQs is 30 minutes</li>
                                    <li>Each user will get 2 attempts per level to improve their scores. The higher
                                        score
                                        from both the attempts
                                        will be considered as your final score for that level.</li>
                                    <li>Minimum score of 40% is required to move to Level 2.</li>
                                    <li>There will be no negative marking in any of the levels. </li>

                                </ul>
                            </li>
                            <li>
                                <p>Level 2
                                </p>
                                <ul>
                                    <li>MCQs</li>
                                    <ul>
                                        <li>For MCQs in Level 2:</li>
                                        <li>There will be 25 MCQs in Level 2</li>
                                        <li>Correct answers for each MCQ will give you 4 points</li>
                                        <li>Maximum time allotted for 25 MCQs is 30minutes</li>

                                    </ul>
                                    <li>Coding
                                        <ul>
                                            <li>For Coding in Level 2:</li>
                                            <li>You will get 24 hours for 1 coding challenge. Once you start the level
                                                you
                                                will have to submit your final code within 24hours </li>
                                            <li>Top 5 scorers from Level 2 will qualify for the Finale </li>
                                            <li>There will be 1 Coding Problem which will have 10 Test Cases of
                                                different
                                                complexity:
                                                <ul>
                                                    <li>Default test case</li>
                                                    <li>Basic level test case</li>
                                                    <li>Boundary level test case</li>
                                                    <li>Correctness test case</li>
                                                    <li>Complex test case. </li>
                                                </ul>

                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li>Each user will get 2 attempts per level to improve their scores. The higher score from
                                both
                                the
                                attempts will be considered as your final score for that level.</li>
                            <li>Each correct test case while solving the coding challenge will fetch the user 10 points
                                &amp; 4
                                points for each
                                correct MCQ.</li>
                            <li>There will be no negative marking in any of the levels.</li>
                            <li>Total score will be the cumulative score of all the 2 levels in each contest i.e.
                                Level
                                1+Level 2.</li>
                            <li>Scoring Logic of Level X is as follows:
                                <ul>
                                    <li>Number of MCQs Correctly Answered x 4 = A</li>
                                    <li>Total Number of Test Cases Answered Correctly x 10 = B</li>
                                    <li>Total Score = A + B</li>
                                </ul>
                            </li>

                        </ul>
                        <h6>Here are some guidelines that we will follow in the event of a tie-break in Leaderboard
                            positions for Coding Contests:</h6>
                        <ol>
                            <li>The user with highest marks (sum of both levels) will be ranked higher.</li>
                            <li>This being equal, the user with higher marks in the coding problem will be ranked
                                higher</li>
                            <li>Point 2 being equal, the user with the higher number of correct answers in the MCQ will
                                be
                                ranked higher.</li>
                            <li>Point 3 being equal, the user who has taken lesser time to answer the MCQs will be
                                ranked
                                higher.</li>
                            <li>Point 4 being equal, user with the lesser time taken to compile the problem will be
                                ranked
                                higher. </li>
                            <li>In case of all the top 5 being equal, points 1 through 5 will be repeated with Level 2
                                and
                                later with Level 1.</li>
                            <li>Everything being equal, the referral scores of the 2 candidates will be used to sort
                                out
                                the tie break.</li>
                            <li>In case this too is equal, the user who participated in the contest at the earlier date
                                will be ranked higher.</li>
                        </ol>
                        <h6>Gratifications for Coding contest:</h6>
                        <ul class="list-inner">
                            <li>1st Prize - Cash Prize worth INR 30,000/-</li>
                            <li>2nd Prize - Cash Prize worth INR 20,000/-</li>
                            <li>Early bird prizes (For 1st 10 players to complete Level 2) win Gift Vouchers of INR
                                500/-each</li>
                            <li>Gift Vouchers will be redeemable from the supplier from where they have been bought</li>
                        </ul>

                    </li>
                    <li>
                        <h3>2) Tech Aptitude -<span> THIS IS AN ONLINE CONTEST</span></h3>
                        <ul class="list-inner alpha">
                            <li>There will be 3 levels in the above mentioned contest. First 2 levels will be launched
                                simultaneously and
                                3rd level will be launched on the day of the Finale.</li>
                            <li>There will be 25 MCQs in Level - 1 &amp;2</li>
                            <li>Correct answer for each MCQ will give you 4 points</li>
                            <li>Maximum time allotted for each level is 30minutes</li>
                            <li>A user has to answer 40% of the questions correctly to unlock the next level.</li>
                            <li>Each user will get 2 attempts per level to improve their scores. The highest score from
                                both the attempts
                                will be considered as your final score for that level.</li>
                            <li>There will be no negative marking in any of the levels.</li>
                            <li>The final level for these contests will be held online.</li>
                            <li>Winners of Tech Aptitude Contest will not qualify for the Direct L2 interview.</li>
                        </ul>
                        <h6>Tie Break Logic </h6>
                        <ol>
                            <li>The user with highest marks (sum of both levels) will be ranked higher.</li>
                            <li>Point 1 being equal, the user who has taken lesser time to answer the MCQs of level 3
                                will
                                be ranked higher.</li>
                            <li>Point 2 being equal, the user who has taken lesser time to answer the MCQs of level 2
                                will
                                be ranked higher.</li>
                            <li>If the situation of tie-break persists even after points 1-3, the user who has taken
                                lesser
                                time to answer the MCQs will be ranked higher.</li>
                            <li>If the situation of tie-break persists even after points 1-4, the user with the lesser
                                time
                                taken to compile the problem will be ranked higher.</li>
                            <li>In case this too is equal, the user who participated in the contest at the earlier date
                                will be ranked higher.</li>
                        </ol>
                        <h6>Gratifications for Online contest:</h6>
                        <ul class="list-inner">
                            <li>1st Prize - Cash Prize worth INR 30,000/-.</li>
                            <li>2nd Prize - Cash Prizeworth INR 20,000/-.</li>
                            <li>Early bird prizes (For 1st 10 players to complete Level 2) and win Gift Vouchers worth
                                INR
                                500/- in each of the online contests.</li>
                            <li>Gift Vouchers will be redeemable from the supplier from where they have been bought</li>
                        </ul>

                    </li>
                    <li>
                        <h3>3) Theme specific contests <span>(Coding, Adobe AEM, Hybris, Salesforce, Azure, Python Data
                                science, Cloud Native, SailPoint, PING Identity, Full Stack, C &amp; C++, Tech
                                Aptitude)</span></h3>
                        <ul class="list-inner alpha">
                            <li>The first 2 levels will be online and the Final level (3rd level) will be launched on a
                                specific date and will be an offline coding challenge event. Only the top 5 coders from
                                Level 2 will be invited to one of the Capgemini campuses.</li>
                            <li>All the above contests can be in a combination of MCQ+Coding contests.</li>
                            <li>Level 1 will be a MCQ contest and Level 2 will be a MCQ +Coding contest, both will have
                                equal weightage of 100 points each.</li>
                            <li>A user has to answer 40% of the questions correctly to unlock the next level.Each user
                                will
                                get 2 attempts per level to improve their scores across all levels. The highest score
                                from
                                both the attempts will be considered as your final score for that level.</li>
                            <li>Coding problem &amp; MCQs will be timed.Time utilised for answering will be accounted
                                for
                                to tabulate the leader board.</li>
                            <li>There will be no negative marking in any of the levels.</li>
                        </ul>
                        <p id="theme">Here are the rules for the Theme contest: </p>
                        <ul>
                            <li><strong>Level - 1: MCQ</strong>
                                <ul>
                                    <li>There will be a total 25 MCQs for which 30 minutes will be allotted to complete
                                        the
                                        Level 1 round.</li>
                                    <li>In case of the MCQs, each correct answer will fetch the user 4 points. All
                                        questions are compulsory.</li>
                                </ul>
                            </li>
                            <li><strong>Level 2: MCQs + Coding</strong>
                                <ul>
                                    <li>Level 2 has 25 MCQs &amp; 1 coding problem for which 150 minutes allotted.</li>
                                    <li>Each correct test case while solving the coding challenge will fetch the user
                                        10
                                        points.</li>
                                    <li>There will be 1 Coding Problem which will have 10 Test Cases of different
                                        complexity:
                                        <ul>
                                            <li>Default test case</li>
                                            <li>Basic level test case</li>
                                            <li>Boundary level test case</li>
                                            <li>Correctness test case</li>
                                            <li>Complex test case. </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><strong>Total score will be the cumulative score of all the 2 levels in each contest
                                    i.e.
                                    Level 1+Level 2 for Leader board.</strong>
                            </li>
                            <li><strong>Scoring Logic of Level X is as follows:</strong>
                                <ul>
                                    <li>Number of MCQs Correctly Answered x 4 = A</li>
                                    <li>Total Number of Test Cases Answered Correctly x 10 = B</li>
                                    <li>Total Score = A + B</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Tie Break Logic for Theme contest on Leader board:</h6>
                        <ul>
                            <li>The user with highest marks (sum of both levels) will be ranked higher.</li>
                            <li>This being equal, the user with higher marks in the coding problem will be ranked
                                higher</li>
                            <li>Point 2 being equal, the user with the higher number of correct answers in the MCQ will
                                be
                                ranked higher.</li>
                            <li>Even after following Points 1-3 if there is a tie, then the user who has taken lesser
                                time
                                to answer the MCQs will be ranked higher.</li>
                            <li>Even after following Points 1-4 if there is a tie, the user with the lesser time taken
                                to
                                compile the problem will be ranked higher.</li>
                            <li>In case of all the top 5 being equal, points 1 through 5 will be repeated with Level 2
                                and
                                later with Level 1.</li>
                            <li>Everything being equal, the referral scores of the 2 candidates will be used to sort
                                out
                                the tie break.</li>
                            <li>In case this too is equal, the user who participated in the contest at the earlier date
                                will be ranked higher.</li>
                        </ul>
                        <h6>Gratifications for Theme contest
                            <p><span>(Coding, Adobe AEM, Hybris, Salesforce, Azure, Python Data science, Cloud Native,
                                    SailPoint, PING Identity, Full Stack, C &amp; C++, Tech Aptitude):</span></p>
                        </h6>
                        <ul class="list-inner">
                            <li>1st Prize - Cash Prize worth worth INR 30,000/-.</li>
                            <li>2nd Prize - Cash Prizeworth INR 20,000/-.</li>
                            <li>Early bird prizes (1st 10 players to complete Level 2) - Voucher of worth INR 500/-for
                                each
                                theme contest.</li>
                            <li>All Prize Money will be subject to tax deduction and the same shall be borne by the
                                winners.</li>
                        </ul>
                    
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
<div class="foot">
        <app-footer></app-footer>
</div>