<app-header></app-header>
<div id="page-header" class="page_header schedule">
    <div class="container">
      <h2>Schedule</h2>
    </div>
  
    <div id="content" class="clearfix">
      <div class="container">
        <div class="schedule">
          <p>Tech Challenge 2018 edition offers a wide variety of contests to challenge your Tech mettle across various
            skill sets. Feel free to go all out in showing off those tech skills, and participate in as many contests as
            you want. But don’t forget that not every challenge is identical and formats/timelines can differ. Make sure
            to
            watch out key dates below.</p>
          <table class="table  table-hover table-responsive-md">
            <tbody>
              <tr>
                <th>Challenge</th>
                <th>Level 1</th>
                <th>Level 2</th>
                <th>Level 3</th>
              </tr>
              <tr>
                <td>Tech Aptitude & Coding Algorithm Challenge</td>
                <td>Sep 28 to Oct 19</td>
                <td>Oct 5 to Oct 19</td>
                <td>Oct 14 to Oct 19
                  <br>
                </td>
              </tr>
              <tr>
                <td>Azure, Python/Data science, Cloud Native, Hybris, SFDC, Adobe AEM, SAILPOINT, PING Identity, Full
                  Stack, C/C++ </td>
                <td>Sep 28 to Oct 14</td>
                <td>Oct 5 to Oct 14</td>
                <td>Live Finale at Hinjewadi, Pune on Oct 27
                  and 28
                </td>
              </tr>
              <tr>
                <td>Announcement of Finalists* after Level 2. <br> <br>(Only finalists from Azure, Python/Data science,
                  Cloud Native, Hybris, SFDC, Adobe AEM, SAILPOINT, PING Identity, Full Stack &amp; Embedded Systems will
                  be eligible for level 3/live hackathon in Pune, Hinjewadi.)</td>
                <td><i class="fa fa-window-minimize" aria-hidden="true"></i></td>
                <td><i class="fa fa-window-minimize" aria-hidden="true"></i></td>
                <td>Oct 19</td>
              </tr>
              <tr>
                <td>Referral Entries</td>
                <td colspan="3" class="text-center">Sep 28 - Oct 14</td>
              </tr>
              <tr>
                <td>Referral Entries' ie. 'Referral Entries for Coding &amp; Tech Aptitude</td>
                <td colspan="3" class="text-center">Sep 28 - Oct 19</td>
              </tr>
            </tbody>
          </table>
  
  
          <div class="text-center" class="buttons">
            <button class="btn-hover color-2" routerLink="/contest-details">Read
              Contest Details</button>
  
            <button routerLink="/login" class="btn-hover color-1">Register Now </button>
  
          </div>
          <div class="sociable2"> <a class="facebook" href="javascript: void(0);" onclick="facebook_share_diaglog('https://techchallenge.in.capgemini.com', 'https://techchallenge.in.capgemini.com/Themes/Release/images/capgemini2016_images/opengraph-share.png','Code. Win. Walk away with cash prizes of up to 15 lacs.','If technology is the drive that makes your world go round then Tech Challenge could be your calling. With cash prizes of up to 15 lacs* and the opportunity of pursuing a career* with Capgemini on offer, this sounds like the stuff that dreams are made of. Register now.');"></a>
  
            <a class="twitter" href="javascript: void(0);" onclick="Capgemini_CommonFunction.twitter_share('TWITTER_SOCIAL_SHARE_TITLE','https%3A%2F%2Ftechchallenge.in.capgemini.com');"></a>
  
            <a class="you-tube" href="javascript: void(0);" onclick="Capgemini_CommonFunction.google_share('https%3A%2F%2Ftechchallenge.in.capgemini.com');"
              title="Share the contest with your friends on Google"></a>
  
            <a class="linkedin" href="javascript: void(0);" onclick="Capgemini_CommonFunction.linkedin_share('If technology is the drive that makes your world go round then Tech Challenge could be your calling. With cash prizes of up to 15 lacs* and the opportunity of pursuing a career* with Capgemini on offer, this sounds like the stuff that dreams are made of. Register now.','https%3A%2F%2Ftechchallenge.in.capgemini.com');"></a>
          </div>
  
        </div>
  
  
  
      </div>
    </div>