
.home-contents{

margin-left: 10%;
margin-right: 10%;
background-color: aliceblue;
color:black;
font-size: 40px;
color: black;

}

.image-holder{
    background: url('../../assets/images/pexels-photo-952670.jpeg') no-repeat ; 
    height:100%; 
  padding: 0; 
  margin: 0; 
  min-height: 100vmax;

  background-position: bottom;
  background-size: cover; 
}


.branding{
    margin-bottom: 3%;

}
#branding-cg{
margin-left: 36%;
width: 30%;
}
#branding-tc{
    margin-left: 40%;
    width: 20%;
}
#branding-tech{
    margin-left: 50%;
    width: 10%;
    height: 2vh;

}
.home{
   
    font-size: 2vh;
}

.about-concept{

    background: url('../../assets/images/about.png') no-repeat;
    background-position: right;
    width: 100%;
    background-size: cover;

}



#powered{
left: 36%;
font-size: 70%;
}

#sponser{

width: 90%;
height: 1vh;
left: 36%;
}

#concept{
font-weight: bolder;
font-size: 60px;
text-align: center;
color: black;

}
.concept-info{


}
.concept-final{



}
#more-tech{
    font-weight: bolder;
    font-size: 60px;

}

.about-concept .concept-info,.concept-final{
text-align: center;
color: black;}
.more-challenge{

}



.know-more-challenge{
margin-left: 70%;

}

.know-more-challenge{
text-decoration: none;
color: white;
font-size: 40px;
}

.register {
	border: 2px solid #2e2e2e;
	cursor: pointer;
	letter-spacing: 0.2125rem;
	overflow: hidden;
	padding: 20px 30px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	transition: 
		background 5s cubic-bezier(0.19, 1, 0.22, 1),
		border 1s cubic-bezier(0.19, 1, 0.22, 1),
		color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
    width: 40%;
margin-left: 33%;
    background-color: greenyellow;


}

.register a {
	color: black;
	font-family: "Varela Round";
    text-decoration: none;
    word-wrap: break-word;
    font-size: 1.3vmin;

}

.register .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -70px, 0) rotate3d(0, 0, 1, 55deg);
	transition: all 4.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 2004px;
}

.register .shift {
	display: inline-block;
	transition: all 5.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.register:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
}

.register:hover a {
	color: greenyellow;
}

.register:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -180px, 0) rotate3d(0, 0, 1, -180deg);
}

.register:hover .shift {
	transform: translateX(15px);
}

.register:active {
	background-color: #fff;
}

.register:active a {
	color: #202020;
}




.btn-hover {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
   
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: black;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.btn-hover.color-12 {
    background-image: linear-gradient(to right, #93a359, #a7292d, #6e4ee1, #000000);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}



.about-capgemini-heading{
font-size: 60px;
font-weight: bolder;
text-align: center;
}

@media only screen and (max-width: 479px) {
   
    .about-capgemini-heading{
        left: -1000px;;
        display: none;
        }


 }
.about-capgemini-info{

    font-size: 40px;

    text-align: center;
}

.contest-terms{}
.contest-terms-heading{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}
.contest-terms-info{
    font-size: 40px;
    text-align: center;
}

#register-holder{

    position: relative;
}
#register-container{
margin-bottom: 160px;
}
.challenge-head{

    font-weight: bolder;
font-size: 40px;
text-align: center;
color: black;
}
#breaker{
    background-color: #000000;
    width: 0%;
    height: 100%;
    position: absolute;
    margin-left: 40%;
}
#challenge-holder{
    position: relative;
}
.challenge-head-body{

    text-align: center;
}

.intrests
{

    font-weight: bolder;
font-size: 40px;
text-align: center;
color: black;
}
.intrests-heading{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;


}

.intrests-text div div button{

width: 80%;
height: 400px;
font-weight: bolder;
font-size: 40px;
text-align: center;
color: white;

}

.benefit-me-heading{
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 40px;
    text-align: center;
}
.benefit-me-text .row{ margin-left: 4%;}

.benefit-me-text .row p{
    margin-left: 10px;
font-size: 40px;

padding-top: 20px;
}


app-footer{
    width: 100vmax;
    height: 100vmax;
    background-size: 100% ;
    background-position: top center;
;

}