
<div class="image-holder">
    <app-floater-menu></app-floater-menu>
    <app-header></app-header>
    <div class="branding">
<img src="../../assets/images/cg_logo.png" id="branding-cg"/>
<img src="../../assets/images/tech-challenge-logo.png" id="branding-tc"/>
<!--<div id="sponser"><p id="powered">-Powered By </p>
  <img  id="branding-tech" src="../../assets/images/techgig-logo.png" />
  </div>


   
-->



</div>
<div class="container" id="register-container">
      <div class="row" id="register-holder">
        <div class="register">
            <a href="/login">
                Register&nbsp;Now&nbsp;
            </a>
            <div class="mask"></div>
        </div></div>
</div>
  <div class="home">
<div class="home-contents">
<div class="about-concept">
    <p id="concept">
        &lt;ABOUT THE CONCEPT&gt;
    </p>
    <p class="concept-info">
        Tech Challenge is back, with season 7 offering you an array of challenges
        to
        match your skill set across multiple levels. Are you ready for the rush of
        adrenalin? This year promises to be bigger, better and more exciting than
        ever before!

    </p>
    <p class="concept-final">Real challenges.
        Real Solution. Real Impact.</p>
</div>
<div class="more-challenge">
    <p style="text-align: center;" id="more-tech">&lt;MORE ABOUT TECH
        CHALLENGE&gt;</p>
        <div class="row" id="challenge-holder">
            <div class="col-md-6 col-xs-12">
                <p class="challenge-head" >Who can
                    participate?</p>
                <p class="challenge-head-body">Participation is open to all tech enthusiasts.
                    If you have a flair for
                    tech innovations, this could be your chance.</p>
            </div>
            <div  class="col-md-6 col-xs-12">
                <p class="challenge-head">What are
                    the rules?</p>
                <p class="challenge-head-body">The rules are fairly straightforward. Just
                    keep in mind these simple dos and don’ts and you are good to go.</p>
            </div>
    
        </div>

        
</div>
</div>

<a  class="know-more-challenge" href="#"><i class="fa fa-hand-o-right"></i>KNOW
  MORE ...........</a>
</div>
<div class="home">
    <div class="home-contents">
        <div class="about-capgemini">
            <h4 class="about-capgemini-heading"><a href="">&lt;ABOUT CAPGEMINI&gt;</a></h4>
            <p class="about-capgemini-info">
                A global leader in consulting, technology services and digital
                transformation,
                Capgemini is at the forefront of innovation to address the entire breadth
                of
                clients’ opportunities in the evolving world of cloud, digital and
                platforms.
            </p>

        </div>




        <div class="contest-terms">
            <h4 class="contest-terms-heading">&lt;CONTEST TERMS&gt;</h4>
            <p class="contest-terms-info">
                If you're up for the challenge, take your pick from an array of technology
                contests. Showcase your skills and talent to beat the opponents, and to
                dominate the leaderboard. Real challenges. Real Solution. Real Impact. The
                winners of the previous edition of Tech Challenge created 'ReUnite' - a
                mobile application which helps parents find missing children. Similar to
                the previous edition, the last round of this year’s Tech Challenge will
                also entail creating a mobile application to solve a real problem which
                will impact the lives of millions. Win cash prizes of up to 15 lacs* as
                well as the chance to work with Capgemini.*
            </p>

        </div>
        
        


        <div class="intrests">
            <p class="intrests-heading">&lt;FIELDS OF
                INTEREST&gt;</p>
            <div class="intrests-text">

                <div class="row">
                    <div class="col-md-3"> <button class="btn-hover color-1">CODING</button></div>
                    <div class="col-md-3"><button class="btn-hover color-2">ADOBE AEM</button></div>
                    <div class="col-md-3"><button class="btn-hover color-3">HYBRIS</button></div>
                    <div class="col-md-3"><button class="btn-hover color-4">SALESFORCE</button></div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <button class="btn-hover color-5">AZURE</button></div>
                    <div class="col-md-3"><button class="btn-hover color-6">DATA SCIENCE</button></div>
                    <div class="col-md-3"><button class="btn-hover color-7">SAILPOINT</button></div>
                    <div class="col-md-3"><button class="btn-hover color-8">CLOUD NATIVE</button></div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <button class="btn-hover color-9">FULLSTACK</button></div>
                    <div class="col-md-3"><button class="btn-hover color-10">EMBEDDED
                            SYSTEMS</button></div>
                    <div class="col-md-3"><button class="btn-hover color-11">PING IDENTITY</button></div>
                    <div class="col-md-3"><button class="btn-hover color-12">TECH APTITUDE</button></div>
                </div>
            </div>

        </div>





        <div class="benefit-me">
            <p class="benefit-me-heading" >&lt;WHATS IN IT FOR
                ME?&gt;</p>
            <div class="benefit-me-text">
                <div class="row" style="margin-bottom: 23px">
                    <img src="../../assets/images/icon25.png" width="95"  />
                    <p>Win
                        cash prizes worth upto
                        INR 15,00,000*</p>

                </div>

                <div class="row" style="margin-bottom: 23px">
                    <img src="../../assets/images/trophy-110918 (1).png" width="95"/>
                    <p >Win
                        a job with one of the most renowned
                        IT companies in the world</p>

                </div>


                <div class="row" style="margin-bottom: 23px">
                    <img src="../../assets/images/msg-110918.png" width="95"  />
                    <p>Talk
                        to industry leaders and plan your
                        future in the technology space</p>
                </div>
                <br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>




      </div></div>

<app-foot></app-foot>
</div>