<app-floater-menu></app-floater-menu>
<div class="home-master">
    <app-header></app-header>
    <div class="container" id="branding">
        <div class="company"> <img src="assets/images/cg_logo.png" id="comapany" width=500px />
        </div>
        <div class="hack">
            <img src="assets/images/tech-challenge-logo.png" id="hack" />
        </div>
        <div>
            <div class="register">
                <a href="#">
                    Register&nbsp;Now&nbsp;
                </a>
                <div class="mask"></div>
            </div>
        </div>
        <div class="container" id="home-tab">
            <div class="home-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="panel panel-default">
                            <div class="bs-callout bs-callout-danger">

                                <ul class="list-group">
                                    <div class="list-group-item inactive-link" id="about-concept">
                                        <h4 class="list-group-item-heading" style="text-align: center">
                                            ABOUT THE CONCEPT
                                        </h4>
                                        <p class="list-group-item-text" style="text-align: center">
                                            Tech Challenge is back, with season 7 offering you an array of challenges
                                            to
                                            match your skill set across multiple levels. Are you ready for the rush of
                                            adrenalin? This year promises to be bigger, better and more exciting than
                                            ever before!

                                        </p>
                                        <p class="list-group-item-text" style="text-align: center">Real challenges.
                                            Real Solution. Real Impact.</p>
                                    </div>
                                    <div class="list-group-item inactive-link">
                                        <h4 class="list-group-item-heading" style="text-align: center;">MORE ABOUT TECH
                                            CHALLENGE</h4>
                                        <br />
                                        <div class="list-group-item-text" class="row">

                                            <div class="col-md-6" style="float: left;">
                                                <p style="font-size: 21px;color: #2b0a3d;font-weight: 500;">Who can
                                                    participate ?</p>
                                                <p style="width: 300px;">Participation is open to all tech enthusiasts.
                                                    If you have a flair for
                                                    tech innovations, this could be your chance.</p>
                                            </div>
                                            <div class="col-md-6" style="float: right;">
                                                <p style="font-size: 21px;color: #2b0a3d;font-weight: 500;">What are
                                                    the rules ?</p>
                                                <p style="width: 300px;">The rules are fairly straightforward. Just
                                                    keep in mind these simple dos and don’ts and you are good to go.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" class="list-group-item-text">
                                        <a href="#" style="float: right; font-size: 20px;color: white;"><i class="fa fa-hand-o-right"></i>KNOW
                                            MORE ...........</a>
                                    </div>





                                    <div class="list-group-item inactive-link">
                                        <h4 class="list-group-item-heading"><a href="">ABOUT CAPGEMINI</a></h4>
                                        <p class="list-group-item-text">
                                            A global leader in consulting, technology services and digital
                                            transformation,
                                            Capgemini is at the forefront of innovation to address the entire breadth
                                            of
                                            clients’ opportunities in the evolving world of cloud, digital and
                                            platforms.
                                        </p>

                                    </div>

                                    <div class="list-group-item inactive-link">
                                        <h4 class="list-group-item-heading">CONTEST TERMS</h4>
                                        <p class="list-group-item-text">
                                            If you're up for the challenge, take your pick from an array of technology
                                            contests. Showcase your skills and talent to beat the opponents, and to
                                            dominate the leaderboard. Real challenges. Real Solution. Real Impact. The
                                            winners of the previous edition of Tech Challenge created 'ReUnite' - a
                                            mobile application which helps parents find missing children. Similar to
                                            the previous edition, the last round of this year’s Tech Challenge will
                                            also entail creating a mobile application to solve a real problem which
                                            will impact the lives of millions. Win cash prizes of up to 15 lacs* as
                                            well as the chance to work with Capgemini.*
                                        </p>

                                    </div>
                                    <div class="list-group-item inactive-link">
                                        <h4 class="list-group-item-heading" style="text-align: right">FIELDS OF
                                            INTEREST</h4>
                                        <div class="list-group-item-text">

                                            <div class="row">
                                                <div class="col-md-3"> <button class="btn-hover color-1">CODING</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-2">ADOBE AEM</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-3">HYBRIS</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-4">SALESFORCE</button></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3"> <button class="btn-hover color-5">AZURE</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-6">DATA SCIENCE</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-7">SAILPOINT</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-8">CLOUD NATIVE</button></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3"> <button class="btn-hover color-9">FULLSTACK</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-10">EMBEDDED
                                                        SYSTEMS</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-11">PING IDENTITY</button></div>
                                                <div class="col-md-3"><button class="btn-hover color-12">TECH APTITUDE</button></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="list-group-item inactive-link">
                                        <h4 class="list-group-item-heading" style="text-align: right">WHATS IN IT FOR
                                            ME?</h4>
                                        <div class="list-group-item-text">
                                            <div class="row" style="margin-bottom: 23px">
                                                <img src="../../assets/images/icon25.png" width="75" style="position: absolute;top: 60px;" />
                                                <p style="font-size: 20px;width: 10;left: 90px;position: absolute;top: 77px;">Win
                                                    cash prizes worth upto
                                                    INR 15,00,000*</p>

                                            </div>

                                            <div class="row" style="margin-bottom: 23px">
                                                <img src="../../assets/images/trophy-110918 (1).png" width="75" style="position: absolute;top: 140px;" />
                                                <p style="font-size: 20px;width: 10;left: 90px;position: absolute;top: 170px;">Win
                                                    a job with one of the most renowned
                                                    IT companies in the world</p>

                                            </div>


                                            <div class="row" style="margin-bottom: 23px">
                                                <img src="../../assets/images/msg-110918.png" width="75" style="position: absolute;top: 220px;" />
                                                <p style="font-size: 20px;width: 10;left: 90px;position: absolute;top: 247px;">Talk
                                                    to industry leaders and plan your
                                                    future in the technology space</p>
                                            </div>
                                            <br /><br /><br /><br /><br /><br /><br /><br />
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-footer>
    </app-footer>